.venv
__pycache__
.pytest_cache
.mypy_cache
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
build
.idea
.vscode
node_modules
out
cache
lib/generated_plugin_registrant.dart
apps/backend/.env
apps/ai-service/.env
apps/contracts/lib
